body, html {
  background-color: #d5d5d5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper {
  background-color: #d5d5d5;
}

.dusty {
  background-color: #96858f;
}

.lavendar {
  background-color: #6d7993;
}

.overcast {
  background-color: #9099a2;
}