body, html {
  background: #d5d5d5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper {
  background: #d5d5d5;
}

.dusty {
  background: #96858f;
}

.lavendar {
  background: #6d7993;
}

.overcast {
  background: #9099a2;
}

.selfie {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}